<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <%- include('./component/header.ejs', {user : user}) %>
    </head>
    <body>
        <div id="main">
          <h2>Create new category:</h2>
          <label for="category">Category Name:</label><br>
          <input type="text" id="category" name="category"><br>
          <textarea id="members" name="members" rows="4" cols="50"
              placeholder="comma-separated list of member addresses. (to make public, leave blank)"></textarea><br>
          <textarea id="moderators" name="moderators" rows="4" cols="50"
              placeholder="comma-separated list of moderator addresses."></textarea><br>
          <button onclick="createCategory()">Create Category</button>
        </div>

        <script>
            async function createCategory () {
                const body = {
                    newCategoryName: document.getElementById("category").value,
                    members: document.getElementById("members").value,
                    moderators: document.getElementById("moderators").value,
                };
                console.log(document.getElementById("authorized"));

                await fetch('/api/createCategory', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                });
            }
        </script>
    </body>
</html>