<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('./component/titlebar.ejs', {user : user}) %>

        <h2>Create new category:</h2>
        <label for="category">Text:</label><br>
        <input type="text" id="category" name="category"><br>
        <button onclick="createCategory()">Create Category</button>

        <script>
            async function createCategory () {
                const body = {
                    newCategoryName: document.getElementById("category").value,
                };

                await fetch('/api/createCategory', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                });
            }
        </script>
    </body>
</html>