<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <%- include('./component/header.ejs', {user : user}) %>
    </head>
    <body>

        <h2>Create new category:</h2>
        <label for="category">Text:</label><br>
        <input type="text" id="category" name="category"><br>
        <textarea id="authorized" name="authorized" rows="4" cols="50"
            placeholder="comma-separated list of emails addresses. (to make private, leave blank)"></textarea><br>
        <button onclick="createCategory()">Create Category</button>

        <script>
            async function createCategory () {
                const body = {
                    newCategoryName: document.getElementById("category").value,
                    authorized: document.getElementById("authorized").value,
                };
                console.log(document.getElementById("authorized"));

                await fetch('/api/createCategory', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(body)
                });
            }
        </script>
    </body>
</html>