<!DOCTYPE html>
<html>
    <head>
        <link href="/style.css" rel="stylesheet" type="text/css">
        <link href="/createPost.css" rel="stylesheet" type="text/css">
        <%- include('./component/header.ejs', {user : user}) %>
    </head>
    <body>
        <div id="create-post-body">
            <h1> Create a post </h1>
            <p>Posts must be approved by an administrator before they are visible. Please keep content school-appropriate!</p>

            <hr>

            <label for="category">Bulletin:</label>
            <select id="category" name="category"> 
                <% categories.forEach(category => { %>
                    <option value=<%= category %>> <%= category %> </option>
                <% }); %>
            </select><br>
        
            <div id="create-post-form">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="text"><br>
                <label for="text">Text:</label><br>
                <input type="text" id="text" name="text"><br><br>
                <label for="attachment">Attachment URL (CSV):</label><br>
                <input type="text" id="attachments" name="attachments" placeholder="https://imgur.com/..."><br><br>

                <button id="publishPost" onclick="publishPost()"> Post </button>
            </div>
        </div>
            
        <script>
            async function publishPost () {
                const post = {}
                post.title = document.getElementById("title").value;
                post.text = document.getElementById("text").value;
                post.attachments = document.getElementById("attachments").value.split(",").filter(str => !str == '');
                for (attachment in attachments) {
                    if (attachment.startsWith("https://")) {
                        alert("At least one of the attachments is not a valid url");
                        return;
                    }
                }                
                post.category = document.getElementById("category").value;

                const response = await (await fetch('/api/posts/publish', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(post)
                })).json();
                console.log(response);
                if (response.error !== undefined) 
                    alert(response.error);
                else 
                    window.location.pathname = '/';
            }
        </script>
    </body>
</html>