<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('./component/titlebar.ejs', {user : user}) %>
        
        <a href="/createPost"> Create Post </a> 

        <h2> Posts: </h2>
        <% posts.forEach((post) => { %>
            <%- include('./component/postView.ejs', {post: post}) %>
        <% }); %>

        <script>
        </script>
    </body>
</html>