<!DOCTYPE html>
<html>
    <head>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include('./component/titlebar.ejs', {user : user}) %>
        
        <a href="/createPost"> Create Post </a><br>

        <% if (user.admin && !admin_view) { %>
            <a href="/admin"> Admin </a><br>
            <a href="/mod"> Approve Posts </a>
        <% } %>

        <h2> Posts: </h2>
        <% posts.forEach((post) => { %>
            <%- include('./component/postView.ejs', {post: post}) %>
        <% }); %>

        <script>
        </script>
    </body>
</html>