<nav class="navbar sticky-top">
    <div class = "container" id="nav-wrapper" style="max-width:95% !important; justify-content:normal !important; margin-left:9%;">
        <a href="#" class="navbar-brand">Tino Bulletin</a>
        <div class="nav-item dropdown" id="explore-dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Explore
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Bulletin 1</a></li>
                <li><a class="dropdown-item" href="#">Bulletin 2</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Browse...</a></li>
            </ul>
        </div>
        <form class="d-flex" id="search-bar" role="search">
            <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" style="flex-grow:1"></input>
            <button class="btn btn-outline-success" id="search-btn" type="submit">Search</button>
        </form>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%=user.name%>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Saved</a></li>
              <li><a class="dropdown-item" href="#">History</a></li>
            </ul>
        </div>
    </div>
</nav>
