<nav class="navbar navbar-expand-lg bg-light">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <div class="row">
        <a class="navbar-brand col-3" href="#" style="margin-right:0 !important;">Tino Bulletin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col" id="navbarSupportedContent">
            <div class="row" style="flex-grow:1;">
                <ul class="navbar-nav mb-lg-0">
                    <div style="display:inline-flex;" class="col-md-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Explore </a>
                            <ul class="dropdown-menu">
                                <h6 class="dropdown-header">Subscribed bulletins</h6>
                                <li><a class="dropdown-item" href="#">Bulletin 1</a></li>
                                <li><a class="dropdown-item" href="#">Bulletin 2</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <h6 class="dropdown-header">All bulletins</h6>
                                <li><a class="dropdown-item" href="#">Browse...</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">+</a>
                        </li>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search for posts..." aria-label="Search" style="flex-grow:1"></input>
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div style="display:inline-flex; float:right;" class="col">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <!--<img src="https://whatifgaming.com/wp-content/uploads/2022/01/sad-Squidward.png" width = "32" height = "32" alt="pfp">--> <%=user.name%> </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">My Profile</a></li>
                                <li><a class="dropdown-item" href="#">Saved</a></li>
                                <li><a class="dropdown-item" href="#">History</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>