<div class="navbar"> 
    <div style="left: 10px; bottom: 10px; position: absolute; "> 
        <a href="/" style="text-decoration:none"> <div style="font-size: 24px">Tino Bulletin Web</div> </a>
        <div style="font-size: 14px; color: #444">A fun place where students post about school events~</div>
    </div>

    <div style="right: 10px; bottom: 10px; position: absolute; font-size: 16px; display:flex"> 
        
        <% if (user !== undefined) { %>
            <div><%=user.name%></div> | <div style="color: #666"> <%=user.email%> </div>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %> 
        | <a href="/sessionLogout">Logout</a>
    </div>
</div>