@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  font-family: Arial;
  margin: 0
}

#main {
    width: 60%;
    margin: 0 auto;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: 0px 0;
    }
    100% {
        background-position: 100em 0;
    }
}


#loadingPost {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #fff;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    height: 200px;
}

.navbar {
    width: 100%;
    height: 64px;
    background: #eee;
    border-radius: 6px;
    position: relative;
}

.postBox {
    font-family: Noto Sans, sans-serif;
    background: #eee;
    border-radius: 10px;
    margin: 4%;
    padding: 2%;
    width: 90%;
}

.attachment {
  max-width: 95%;
  object-fit: contain;
}

#post-title {
  font-family: Lato, sans-serif;
}

#post-btn {
  position: fixed;
  bottom: 12px;
  right: 12px;
  align-items: center;
  z-index: 999;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-bar {
  padding: 0 2%;

}

@media screen and (max-width:999px){
  #search-btn{
    display:none;
  }
  #search-bar{
    width:40%;
  }
  #nav-wrapper{
    margin-left:auto !important;
  }
}

@media screen and (max-width:700px){
  #explore-dropdown{
    display:none;
  }
}

@media screen and (min-width:1200px){
  #search-bar{
    width:65%;
  }
}

.hide {
  display: none !important
}