@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  font-family: Arial;
  margin: 0
}

#main {
  width: 60%;
  margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 64px;
    background: #eee;
    border-radius: 6px;
    position: relative;
}

.postBox {
    font-family: Noto Sans, sans-serif;
    background: #eee;
    border-radius: 6px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

#post-title{
  font-family: Lato, sans-serif;
}

#post-btn {
  position: fixed;
  bottom: 12px;
  right: 12px;
  align-items: center;
  z-index: 999;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#search-bar {
  padding: 0 2%;

}

@media screen and (max-width:999px){
  #search-bar{
    width:50%;
  }
}

@media screen and (max-width:667px){
  #search-btn{
    display:none;
  }
  #search-bar{
    width:40%;
  }
  #nav-wrapper{
    margin-left:auto !important;
  }
}

@media screen and (max-width:525px){
  #explore-dropdown{
    display:none;
  }
}

@media screen and (min-width:1000px){
  #search-bar{
    width:65%;
  }
}

.hide {
  display: none !important
}