<div class="navbar bg-light"> 
    <div class = "container-fluid" style="left: 10px; bottom: 10px;"> 
        <a class = "navbar-brand" href="/">Tino Bulletin<br>A fun place where students post about school events~</a>
        
        <% if (user !== undefined) { %>
            <a href="/profile/<%= user.email %>" style="text-decoration:none" >
                <div><%=user.name%></div>
                <div style="color: #666"> <%=user.email%> </div>
            </a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %> 
        <a href="/sessionLogout">Logout</a>
    </div>
</div>